*{
}

.subtitle{
  text-align:center;
  line-height:1.8;
  margin-bottom:30px;
  opacity:.9;
}

input{
  width:100%;
  padding:16px;
  border:none;
  border-radius:12px;
  margin-bottom:20px;
}

button{
  width:100%;
  padding:16px;
  border:none;
  border-radius:12px;
  background:#00b894;
  color:white;
  font-size:16px;
  cursor:pointer;
  transition:.3s;
  font-weight:bold;
}

button:hover{
  background:#00a383;
  transform:translateY(-2px);
}

#status{
  margin-top:25px;
  line-height:1.9;
  max-height:250px;
  overflow:auto;
  padding-right:5px;
}

@media(max-width:700px){

header{
  padding:20px;
}

.logo-area h2{
  font-size:22px;
}

.card{
  padding:25px;
}

h1{
  font-size:28px;
}
}
